<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Bulma CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css.map">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <div id="app">

        <div align="center">

            <h4> Gestore Elettrodomestici</h4>

        </div>

        <hr>

        <div class="row">
            <form @submit.prevent="submitHandler" class="col s10 offset-s1 ">
                <input type="text" v-model="nome" placeholder="nome" required>
                <input type="text" v-model="stato" placeholder="stato" required>
                <input type="text" v-model="consumo" placeholder="consumo" required>
                <input type="text" v-model="priorita" placeholder="priorita" required>
                <div align="center">

                    <button class="button is-info is-outlined">Aggiungi</button>

                </div>
            </form>
        </div>

        <hr>

        <div class="row">
            <table class="col s10 offset-s1">
                <caption>
                    <p><b>Elettrodomestici</b></p>
                </caption>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Stato</th>
                        <th>Consumo in kW</th>
                        <th>Priorità</th>
                    </tr>
                </thead>
                <tbody v-if="elettrodomestici.length">
                    <tr v-for="(elettr, index) in elettrodomestici" :key="index">
                        <td>
                            <input type="text" v-model="elettr.nome" placeholder="nome">
                        </td>
                        <td>
                            <input type="text" v-model="elettr.stato" placeholder="stato">
                        </td>
                        <td>
                            <input type="text" v-model="elettr.consumo" placeholder="consumo">
                        </td>
                        <td>
                            <input type="text" v-model="elettr.priorita" placeholder="priorità">
                        </td>
                        <td>
                            <button class="btn waves-effect orange" @click="eraseHouseholdAppliance(elettr)">X</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row" align="center">
            <p v-if="feedback" class="col s10 offset-s1 red-text">{{feedback}}</p>
            <button @click="sendData" class="button is-danger is-outlined">Invia i dati al server</button>
        </div>
    </div>

    <script src="
                            https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js">
    </script>
    <script src="./index.js"></script>
</body>

</html>
